In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('C:/Users/ASUS/Downloads/FAOSTAT_data_en_1-2-2026.csv')

In [6]:
data.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code', 'Item', 'Year Code', 'Year', 'Source Code',
       'Source', 'Unit', 'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [7]:
data.dtypes

Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code             int64
Item                 object
Year Code             int64
Year                  int64
Source Code           int64
Source               object
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                float64
dtype: object

In [ ]:
data

In [9]:
data['Domain Code'].unique()

array(['GT'], dtype=object)

In [10]:
data['Domain'].unique()

array(['Emissions totals'], dtype=object)

In [16]:
data.drop(['Domain Code', 'Domain'], axis=1)

,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,4,Afghanistan,7234,Direct emissions (N2O),5064,Crop Residues,1961,1961,3050,FAO TIER 1,kt,0.8762,E,Estimated value,NaN
1,4,Afghanistan,7236,Indirect emissions (N2O),5064,Crop Residues,1961,1961,3050,FAO TIER 1,kt,0.1972,E,Estimated value,NaN
2,4,Afghanistan,7230,Emissions (N2O),5064,Crop Residues,1961,1961,3050,FAO TIER 1,kt,1.0734,E,Estimated value,NaN
3,4,Afghanistan,724313,Emissions (CO2eq) from N2O (AR5),5064,Crop Residues,1961,1961,3050,FAO TIER 1,kt,284.4510,E,Estimated value,NaN
4,4,Afghanistan,723113,Emissions (CO2eq) (AR5),5064,Crop Residues,1961,1961,3050,FAO TIER 1,kt,284.4510,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33983,840,United States of America,7230,Emissions (N2O),6819,Other,2023,2023,3050,FAO TIER 1,kt,47.1000,E,Estimated value,NaN
33984,840,United States of America,7273,Emissions (CO2),6819,Other,2023,2023,3050,FAO TIER 1,kt,4730.0000,E,Estimated value,NaN
33985,840,United States of America,724413,Emissions (CO2eq) from CH4 (AR5),6819,Other,2023,2023,3050,FAO TIER 1,kt,420.0000,E,Estimated value,NaN
33986,840,United States of America,724313,Emissions (CO2eq) from N2O (AR5),6819,Other,2023,2023,3050,FAO TIER 1,kt,12481.5000,E,Estimated value,NaN
33987,840,United States of America,723113,Emissions (CO2eq) (AR5),6819,Other,2023,2023,3050,FAO TIER 1,kt,17631.5000,E,Estimated value,NaN

In [11]:
data['Area Code (M49)'].unique()

array([  4,  16, 159, 356, 524, 840], dtype=int64)

In [12]:
data['Area'].unique()

array(['Afghanistan', 'American Samoa', 'China', 'India', 'Nepal',
       'United States of America'], dtype=object)

In [13]:
data['Element Code'].unique()

array([  7234,   7236,   7230, 724313, 723113,   7225, 724413,   7273,
       717815], dtype=int64)

In [14]:
data['Element'].unique()

array(['Direct emissions (N2O)', 'Indirect emissions (N2O)',
       'Emissions (N2O)', 'Emissions (CO2eq) from N2O (AR5)',
       'Emissions (CO2eq) (AR5)', 'Emissions (CH4)',
       'Emissions (CO2eq) from CH4 (AR5)', 'Emissions (CO2)',
       'Emissions (CO2eq) from F-gases (AR5)'], dtype=object)