In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv('agri_energy_merged.csv')

In [78]:
df.isna().sum()

Unnamed: 0.1                          0
Unnamed: 0                            0
state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                 15312
wind_mw                           41448
bioenergy_mw                       4356
solar_pumps_installed             10824
estimated_co2_reduction_tonnes    15312
dtype: int64

In [79]:
# Group by state & district and count nulls column-wise
null_summary = (
    df
    .groupby(['state', 'district'], as_index=False)
    .agg(lambda x: x.isna().sum())
)

# Keep only rows where at least one null exists
null_summary_filtered = null_summary[
    null_summary.drop(columns=['state', 'district']).sum(axis=1) > 0
]

null_summary_filtered.loc[1:20]

,state,district,Unnamed: 0.1,Unnamed: 0,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
3,andhra pradesh,adilabad,0,0,0,0,0,0,0,132,0
4,andhra pradesh,anantapur,0,0,0,0,0,0,0,132,0
5,andhra pradesh,chittoor,0,0,0,0,0,0,0,132,0
6,andhra pradesh,east godavari,0,0,0,0,0,0,0,132,0
7,andhra pradesh,guntur,0,0,0,0,0,0,0,132,0
8,andhra pradesh,hyderabad,0,0,0,0,0,0,0,132,0
9,andhra pradesh,karimnagar,0,0,0,0,0,0,0,132,0
10,andhra pradesh,khammam,0,0,0,0,0,0,0,132,0
11,andhra pradesh,krishna,0,0,0,0,0,0,0,132,0
12,andhra pradesh,kurnool,0,0,0,0,0,0,0,132,0
13,andhra pradesh,mahbubnagar,0,0,0,0,0,0,0,132,0
14,andhra pradesh,medak,0,0,0,0,0,0,0,132,0
15,andhra pradesh,nalgonda,0,0,0,0,0,0,0,132,0
16,andhra pradesh,nizamabad,0,0,0,0,0,0,0,132,0
17,andhra pradesh,prakasam,0,0,0,0,0,0,0,132,0
18,andhra pradesh,rangareddy,0,0,0,0,0,0,0,132,0
19,andhra pradesh,sri potti sriramulu nellore,0,0,0,0,0,0,0,132,0
20,andhra pradesh,srikakulam,0,0,0,0,0,0,0,132,0

In [80]:

df.describe()

,Unnamed: 0.1,Unnamed: 0,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
count,84612.000000,84612.000000,84612.000000,84612.000000,69300.000000,43164.000000,80256.000000,73788.000000,69300.000000
mean,42305.500000,42305.500000,2020.000000,6.500000,23.908209,58.254269,5.838595,9482.655418,2410.425868
std,24425.524825,24425.524825,3.162296,3.452073,89.806737,68.268900,7.223769,37501.623027,8875.979065
min,0.000000,0.000000,2015.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21152.750000,21152.750000,2017.000000,3.750000,0.250000,0.050000,0.398000,55.800000,32.800000
50%,42305.500000,42305.500000,2020.000000,6.500000,0.534531,19.463043,1.368421,296.346154,56.805705
75%,63458.250000,63458.250000,2023.000000,9.250000,2.857143,86.338571,11.007042,999.958333,295.200000
max,84611.000000,84611.000000,2025.000000,12.000000,570.000000,223.818125,21.903429,240000.000000,56088.000000

In [81]:
df.loc[40:70]

,Unnamed: 0.1,Unnamed: 0,state,district,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
40,40,40,assam,baksa,2018,5,0.150,0.0,1.2,200.0,14.76
41,41,41,assam,baksa,2018,6,0.150,0.0,1.2,200.0,14.76
42,42,42,assam,baksa,2018,7,0.150,0.0,1.2,200.0,14.76
43,43,43,assam,baksa,2018,8,0.150,0.0,1.2,200.0,14.76
44,44,44,assam,baksa,2018,9,0.150,0.0,1.2,200.0,14.76
45,45,45,assam,baksa,2018,10,0.150,0.0,1.2,200.0,14.76
46,46,46,assam,baksa,2018,11,0.150,0.0,1.2,200.0,14.76
47,47,47,assam,baksa,2018,12,0.150,0.0,1.2,200.0,14.76
48,48,48,assam,baksa,2019,1,0.225,0.0,1.2,300.0,22.14
49,49,49,assam,baksa,2019,2,0.225,0.0,1.2,300.0,22.14
50,50,50,assam,baksa,2019,3,0.225,0.0,1.2,300.0,22.14
51,51,51,assam,baksa,2019,4,0.225,0.0,1.2,300.0,22.14
52,52,52,assam,baksa,2019,5,0.225,0.0,1.2,300.0,22.14
53,53,53,assam,baksa,2019,6,0.225,0.0,1.2,300.0,22.14
54,54,54,assam,baksa,2019,7,0.225,0.0,1.2,300.0,22.14
55,55,55,assam,baksa,2019,8,0.225,0.0,1.2,300.0,22.14
56,56,56,assam,baksa,2019,9,0.225,0.0,1.2,300.0,22.14
57,57,57,assam,baksa,2019,10,0.225,0.0,1.2,300.0,22.14
58,58,58,assam,baksa,2019,11,0.225,0.0,1.2,300.0,22.14
59,59,59,assam,baksa,2019,12,0.225,0.0,1.2,300.0,22.14
60,60,60,assam,baksa,2020,1,0.375,0.0,1.2,500.0,36.90
61,61,61,assam,baksa,2020,2,0.375,0.0,1.2,500.0,36.90
62,62,62,assam,baksa,2020,3,0.375,0.0,1.2,500.0,36.90
63,63,63,assam,baksa,2020,4,0.375,0.0,1.2,500.0,36.90
64,64,64,assam,baksa,2020,5,0.375,0.0,1.2,500.0,36.90
65,65,65,assam,baksa,2020,6,0.375,0.0,1.2,500.0,36.90
66,66,66,assam,baksa,2020,7,0.375,0.0,1.2,500.0,36.90
67,67,67,assam,baksa,2020,8,0.375,0.0,1.2,500.0,36.90
68,68,68,assam,baksa,2020,9,0.375,0.0,1.2,500.0,36.90
69,69,69,assam,baksa,2020,10,0.375,0.0,1.2,500.0,36.90
70,70,70,assam,baksa,2020,11,0.375,0.0,1.2,500.0,36.90

In [82]:
df.loc[80:120]

,Unnamed: 0.1,Unnamed: 0,state,district,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
80,80,80,assam,baksa,2021,9,0.60,0.0,1.2,800.0,59.04
81,81,81,assam,baksa,2021,10,0.60,0.0,1.2,800.0,59.04
82,82,82,assam,baksa,2021,11,0.60,0.0,1.2,800.0,59.04
83,83,83,assam,baksa,2021,12,0.60,0.0,1.2,800.0,59.04
84,84,84,assam,baksa,2022,1,0.90,0.0,1.2,1200.0,88.56
85,85,85,assam,baksa,2022,2,0.90,0.0,1.2,1200.0,88.56
86,86,86,assam,baksa,2022,3,0.90,0.0,1.2,1200.0,88.56
87,87,87,assam,baksa,2022,4,0.90,0.0,1.2,1200.0,88.56
88,88,88,assam,baksa,2022,5,0.90,0.0,1.2,1200.0,88.56
89,89,89,assam,baksa,2022,6,0.90,0.0,1.2,1200.0,88.56
90,90,90,assam,baksa,2022,7,0.90,0.0,1.2,1200.0,88.56
91,91,91,assam,baksa,2022,8,0.90,0.0,1.2,1200.0,88.56
92,92,92,assam,baksa,2022,9,0.90,0.0,1.2,1200.0,88.56
93,93,93,assam,baksa,2022,10,0.90,0.0,1.2,1200.0,88.56
94,94,94,assam,baksa,2022,11,0.90,0.0,1.2,1200.0,88.56
95,95,95,assam,baksa,2022,12,0.90,0.0,1.2,1200.0,88.56
96,96,96,assam,baksa,2023,1,1.50,0.0,1.2,2000.0,147.60
97,97,97,assam,baksa,2023,2,1.50,0.0,1.2,2000.0,147.60
98,98,98,assam,baksa,2023,3,1.50,0.0,1.2,2000.0,147.60
99,99,99,assam,baksa,2023,4,1.50,0.0,1.2,2000.0,147.60
100,100,100,assam,baksa,2023,5,1.50,0.0,1.2,2000.0,147.60
101,101,101,assam,baksa,2023,6,1.50,0.0,1.2,2000.0,147.60
102,102,102,assam,baksa,2023,7,1.50,0.0,1.2,2000.0,147.60
103,103,103,assam,baksa,2023,8,1.50,0.0,1.2,2000.0,147.60
104,104,104,assam,baksa,2023,9,1.50,0.0,1.2,2000.0,147.60
105,105,105,assam,baksa,2023,10,1.50,0.0,1.2,2000.0,147.60
106,106,106,assam,baksa,2023,11,1.50,0.0,1.2,2000.0,147.60
107,107,107,assam,baksa,2023,12,1.50,0.0,1.2,2000.0,147.60
108,108,108,assam,baksa,2024,1,2.25,0.0,1.2,3000.0,221.40
109,109,109,assam,baksa,2024,2,2.25,0.0,1.2,3000.0,221.40
110,110,110,assam,baksa,2024,3,2.25,0.0,1.2,3000.0,221.40
111,111,111,assam,baksa,2024,4,2.25,0.0,1.2,3000.0,221.40
112,112,112,assam,baksa,2024,5,2.25,0.0,1.2,3000.0,221.40
113,113,113,assam,baksa,2024,6,2.25,0.0,1.2,3000.0,221.40
114,114,114,assam,baksa,2024,7,2.25,0.0,1.2,3000.0,221.40
115,115,115,assam,baksa,2024,8,2.25,0.0,1.2,3000.0,221.40
116,116,116,assam,baksa,2024,9,2.25,0.0,1.2,3000.0,221.40
117,117,117,assam,baksa,2024,10,2.25,0.0,1.2,3000.0,221.40
118,118,118,assam,baksa,2024,11,2.25,0.0,1.2,3000.0,221.40
119,119,119,assam,baksa,2024,12,2.25,0.0,1.2,3000.0,221.40
120,120,120,assam,baksa,2025,1,3.00,0.0,1.2,4000.0,295.20

In [83]:
df.dtypes

Unnamed: 0.1                        int64
Unnamed: 0                          int64
state                              object
district                           object
year                                int64
month                               int64
solar_mw_district                 float64
wind_mw                           float64
bioenergy_mw                      float64
solar_pumps_installed             float64
estimated_co2_reduction_tonnes    float64
dtype: object

In [84]:
df.shape

(84612, 11)

In [85]:
# Group by state & district and count nulls column-wise
null_summary = (
    df
    .groupby(['state', 'district'], as_index=False)
    .agg(lambda x: x.isna().sum())
)

# Keep only rows where at least one null exists
null_summary_filtered = null_summary[
    null_summary.drop(columns=['state', 'district']).sum(axis=1) > 0
]

null_summary_filtered.loc[0:20]

,state,district,Unnamed: 0.1,Unnamed: 0,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
3,andhra pradesh,adilabad,0,0,0,0,0,0,0,132,0
4,andhra pradesh,anantapur,0,0,0,0,0,0,0,132,0
5,andhra pradesh,chittoor,0,0,0,0,0,0,0,132,0
6,andhra pradesh,east godavari,0,0,0,0,0,0,0,132,0
7,andhra pradesh,guntur,0,0,0,0,0,0,0,132,0
8,andhra pradesh,hyderabad,0,0,0,0,0,0,0,132,0
9,andhra pradesh,karimnagar,0,0,0,0,0,0,0,132,0
10,andhra pradesh,khammam,0,0,0,0,0,0,0,132,0
11,andhra pradesh,krishna,0,0,0,0,0,0,0,132,0
12,andhra pradesh,kurnool,0,0,0,0,0,0,0,132,0
13,andhra pradesh,mahbubnagar,0,0,0,0,0,0,0,132,0
14,andhra pradesh,medak,0,0,0,0,0,0,0,132,0
15,andhra pradesh,nalgonda,0,0,0,0,0,0,0,132,0
16,andhra pradesh,nizamabad,0,0,0,0,0,0,0,132,0
17,andhra pradesh,prakasam,0,0,0,0,0,0,0,132,0
18,andhra pradesh,rangareddy,0,0,0,0,0,0,0,132,0
19,andhra pradesh,sri potti sriramulu nellore,0,0,0,0,0,0,0,132,0
20,andhra pradesh,srikakulam,0,0,0,0,0,0,0,132,0

In [86]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'state', 'district', 'year', 'month',
       'solar_mw_district', 'wind_mw', 'bioenergy_mw', 'solar_pumps_installed',
       'estimated_co2_reduction_tonnes'],
      dtype='object')

In [87]:
df= df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [88]:
df.columns

Index(['state', 'district', 'year', 'month', 'solar_mw_district', 'wind_mw',
       'bioenergy_mw', 'solar_pumps_installed',
       'estimated_co2_reduction_tonnes'],
      dtype='object')

In [89]:
df.isna().sum()

state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                 15312
wind_mw                           41448
bioenergy_mw                       4356
solar_pumps_installed             10824
estimated_co2_reduction_tonnes    15312
dtype: int64

In [90]:
# Group by state & district and count nulls column-wise
null_summary = (
    df
    .groupby(['state', 'district'], as_index=False)
    .agg(lambda x: x.isna().sum())
)

# Keep only rows where at least one null exists
null_summary_filtered = null_summary[
    null_summary.drop(columns=['state', 'district']).sum(axis=1) > 0
]

null_summary_filtered

,state,district,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
3,andhra pradesh,adilabad,0,0,0,0,0,132,0
4,andhra pradesh,anantapur,0,0,0,0,0,132,0
5,andhra pradesh,chittoor,0,0,0,0,0,132,0
6,andhra pradesh,east godavari,0,0,0,0,0,132,0
7,andhra pradesh,guntur,0,0,0,0,0,132,0
...,...,...,...,...,...,...,...,...,...
636,west bengal,pashchim medinipur,0,0,0,132,0,0,0
637,west bengal,purba medinipur,0,0,0,132,0,0,0
638,west bengal,puruliya,0,0,0,132,0,0,0
639,west bengal,south 24 parganas,0,0,0,132,0,0,0
640,west bengal,uttar dinajpur,0,0,0,132,0,0,0

In [91]:
# Group by state & district and count nulls column-wise
null_summary = (
    df
    .groupby(['state', 'district'], as_index=False)
    .agg(lambda x: x.isna().sum())
)

# Keep only rows where at least one null exists
null_summary_filtered = null_summary[
    null_summary.drop(columns=['state', 'district']).sum(axis=1) > 0
]

null_summary_filtered[45:70]

,state,district,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
129,goa,north goa,0,0,132,132,0,0,132
130,goa,south goa,0,0,132,132,0,0,132
157,haryana,ambala,0,0,0,132,0,0,0
158,haryana,bhiwani,0,0,0,132,0,0,0
159,haryana,faridabad,0,0,0,132,0,0,0
160,haryana,fatehabad,0,0,0,132,0,0,0
161,haryana,gurgaon,0,0,0,132,0,0,0
162,haryana,hisar,0,0,0,132,0,0,0
163,haryana,jhajjar,0,0,0,132,0,0,0
164,haryana,jind,0,0,0,132,0,0,0
165,haryana,kaithal,0,0,0,132,0,0,0
166,haryana,karnal,0,0,0,132,0,0,0
167,haryana,kurukshetra,0,0,0,132,0,0,0
168,haryana,mahendragarh,0,0,0,132,0,0,0
169,haryana,mewat,0,0,0,132,0,0,0
170,haryana,palwal,0,0,0,132,0,0,0
171,haryana,panchkula,0,0,0,132,0,0,0
172,haryana,panipat,0,0,0,132,0,0,0
173,haryana,rewari,0,0,0,132,0,0,0
174,haryana,rohtak,0,0,0,132,0,0,0
175,haryana,sirsa,0,0,0,132,0,0,0
176,haryana,sonipat,0,0,0,132,0,0,0
177,haryana,yamunanagar,0,0,0,132,0,0,0
178,himachal pradesh,bilaspur,0,0,132,132,0,0,132
179,himachal pradesh,chamba,0,0,132,132,0,0,132

In [92]:
df['solar_mw_district'].mean()

np.float64(23.908209426406927)

In [93]:
df['solar_mw_district'].mode()

0    0.244718
Name: solar_mw_district, dtype: float64

In [94]:
df['solar_mw_district'].median()

0.53453125

In [95]:
df['solar_mw_district'].fillna(df['solar_mw_district'].mean(), inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1744\3935618177.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['solar_mw_district'].fillna(df['solar_mw_district'].mean(), inplace=True)

In [96]:
df.isnull().sum()

state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                     0
wind_mw                           41448
bioenergy_mw                       4356
solar_pumps_installed             10824
estimated_co2_reduction_tonnes    15312
dtype: int64

In [97]:
df['bioenergy_mw'].mean()

np.float64(5.838595095693781)

In [98]:
df['bioenergy_mw'].mode()

0    0.0
Name: bioenergy_mw, dtype: float64

In [99]:
df['bioenergy_mw'].median()

1.368421052631579

In [101]:
df['bioenergy_mw'].fillna(df['bioenergy_mw'].mean(), inplace=True)

In [102]:
df['solar_pumps_installed'].mean()

np.float64(9482.655418225186)

In [103]:
df['solar_pumps_installed'].mean()

np.float64(9482.655418225186)

In [104]:
df['solar_pumps_installed'].median()

296.34615384615387

In [106]:
df['solar_pumps_installed'].fillna(df['solar_pumps_installed'].median(), inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1744\3062534155.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['solar_pumps_installed'].fillna(df['solar_pumps_installed'].median(), inplace=True)

In [122]:
df['wind_mw'].mode()

0    7.72
Name: wind_mw, dtype: float64

In [124]:
df['wind_mw'].mean()

np.float64(58.25426892781021)

In [125]:
df['wind_mw'].median()

19.463043478260868

In [126]:
df['wind_mw'].fillna(df['wind_mw'].median(), inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1744\2045059573.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['wind_mw'].fillna(df['wind_mw'].median(), inplace=True)

In [127]:
df.isna().sum()

state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                     0
wind_mw                               0
bioenergy_mw                          0
solar_pumps_installed                 0
estimated_co2_reduction_tonnes    15312
dtype: int64

In [128]:
energy_cols = ['solar_mw_district', 'wind_mw', 'bioenergy_mw']

df[energy_cols] = df[energy_cols].fillna(0)

In [129]:
df['estimated_co2_reduction_tonnes'] = (
    df['solar_mw_district'] * 1200 +
    df['wind_mw'] * 1000 +
    df['bioenergy_mw'] * 900
)

In [130]:
df['estimated_co2_reduction_tonnes'] = df['estimated_co2_reduction_tonnes'].round(2)

In [131]:
df[['solar_mw_district', 'wind_mw', 'bioenergy_mw', 'estimated_co2_reduction_tonnes']].head()

   solar_mw_district  wind_mw  bioenergy_mw  estimated_co2_reduction_tonnes
0                0.0      0.0           1.2                          1080.0
1                0.0      0.0           1.2                          1080.0
2                0.0      0.0           1.2                          1080.0
3                0.0      0.0           1.2                          1080.0
4                0.0      0.0           1.2                          1080.0

In [132]:
df.isna().sum()

state                             0
district                          0
year                              0
month                             0
solar_mw_district                 0
wind_mw                           0
bioenergy_mw                      0
solar_pumps_installed             0
estimated_co2_reduction_tonnes    0
dtype: int64

In [133]:
df.to_csv('agri_energy_merged.csv', index=False)

In [ ]:
df_2 = pd.read_csv('agri_energy_merged.csv'