In [8]:
!conda activate base

C:\Users\ASUS\Desktop\SDET>if defined CONDA_BUILD_STATE ()

C:\Users\ASUS\Desktop\SDET>if exist "C:\Windows\System32\msmpi.dll" (
echo "You seem to have a system wide installation of MSMPI. "
 echo "Due to the way DLL loading works on windows, system wide installation "
 echo "will probably overshadow the conda installation. Uninstalling "
 echo "the system wide installation and forced deleting C:\Windows\System32\msmpi*.dll"
 echo "will help, but may break other software using the system wide installation."
)

C:\Users\ASUS\Desktop\SDET>if defined MSMPI_BIN (set "MSMPI_BIN_CONDA_BACKUP=" )

C:\Users\ASUS\Desktop\SDET>if defined MSMPI_INC (set "MSMPI_INC_CONDA_BACKUP=" )

C:\Users\ASUS\Desktop\SDET>if defined MSMPI_LIB64 (set "MSMPI_LIB64_CONDA_BACKUP=" )

C:\Users\ASUS\Desktop\SDET>if defined MSMPI_LIB32 (set "MSMPI_LIB32_CONDA_BACKUP=" )

C:\Users\ASUS\Desktop\SDET>set MSMPI_BIN=\Library\bin

C:\Users\ASUS\Desktop\SDET>set MSMPI_INC=\Library\include

C:\Users\ASUS\Desktop\SDET>set MSMPI_LIB64=\Library\lib

C:\Users\ASUS\Desktop\SDET>set MSMPI_LIB32=""

In [11]:
!pip uninstall numpy -y

Found existing installation: numpy 2.4.0

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_internal\cli\base_command.py", line 180, in exc_logging_wrapper
    status = run_func(*args)
             ^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_internal\commands\uninstall.py", line 110, in run
    uninstall_pathset.commit()
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_internal\req\req_uninstall.py", line 432, in commit
    self._moved_paths.commit()
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_internal\req\req_uninstall.py", line 278, in commit
    save_dir.cleanup()
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_internal\utils\temp_dir.py", line 173, in cleanup
    rmtree(self._path)
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 291, in wrapped_f
    return self(f, *args, **kw)
           ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 381, in __call__
    do = self.iter(retry_state=retry_state)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 327, in iter
    raise retry_exc.reraise()
          ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 160, in reraise
    raise self.last_attempt.result()
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\concurrent\futures\_base.py", line 449, in result
    return self.__get_result()
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\concurrent\futures\_base.py", line 401, in __get_result
    raise self._exception
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_vendor\tenacity\__init__.py", line 384, in __call__
    result = fn(*args, **kwargs)
             ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\site-packages\pip\_internal\utils\misc.py", line 130, in rmtree
    shutil.rmtree(dir, ignore_errors=ignore_errors, onerror=rmtree_errorhandler)
  File "C:\Users\ASUS\anaconda3\Lib\shutil.py", line 759, in rmtree
    return _rmtree_unsafe(path, onerror)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\Lib\shutil.py", line 622, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\Users\ASUS\anaconda3\Lib\shutil.py", line 620, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\ASUS\\anaconda3\\Lib\\site-packages\\~umpy.libs\\libscipy_openblas64_-9e3e5a4229c1ca39f10dc82bba9e2b2b.dll'

Uninstalling numpy-2.4.0:
  Successfully uninstalled numpy-2.4.0

In [12]:
!pip install numpy==1.26.4

Collecting numpy==1.26.4
  Obtaining dependency information for numpy==1.26.4 from https://files.pythonhosted.org/packages/3f/6b/5610004206cf7f8e7ad91c5a85a8c71b2f2f8051a0c0c4d5916b76d6cbb2/numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata
  Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
Installing collected packages: numpy
Successfully installed numpy-1.26.4

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gensim 4.3.0 requires FuzzyTM>=0.4.0, which is not installed.
mlxtend 0.24.0 requires numpy>=2.3.5, but you have numpy 1.26.4 which is incompatible.
numba 0.57.1 requires numpy<1.25,>=1.21, but you have numpy 1.26.4 which is incompatible.
ortools 9.14.6206 requires protobuf<6.32,>=6.31.1, but you have protobuf 3.20.3 which is incompatible.

In [13]:
!python -c "import numpy; print(numpy.__version__)"

1.26.4

In [14]:
!pip install --upgrade --force-reinstall pandas pyarrow numexpr

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/8e/59/712db1d7040520de7a4965df15b774348980e6df45c129b8c64d0dbe74ef/pandas-2.3.3-cp311-cp311-win_amd64.whl.metadata
  Using cached pandas-2.3.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting pyarrow
  Obtaining dependency information for pyarrow from https://files.pythonhosted.org/packages/ae/f3/cec89bd99fa3abf826f14d4e53d3d11340ce6f6af4d14bdcd54cd83b6576/pyarrow-22.0.0-cp311-cp311-win_amd64.whl.metadata
  Using cached pyarrow-22.0.0-cp311-cp311-win_amd64.whl.metadata (3.3 kB)
Collecting numexpr
  Obtaining dependency information for numexpr from https://files.pythonhosted.org/packages/64/72/4ca9bd97b2eb6dce9f5e70a3b6acec1a93e1fb9b079cb4cba2cdfbbf295d/numexpr-2.14.1-cp311-cp311-win_amd64.whl.metadata
  Using cached numexpr-2.14.1-cp311-cp311-win_amd64.whl.metadata (9.3 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/fc/f0/74965001d231f28184d6305b8cdc1b6fcd4bf23033f6cb039cfe76c9fca7/numpy-2.4.0-cp311-cp311-win_amd64.whl.metadata
  Using cached numpy-2.4.0-cp311-cp311-win_amd64.whl.metadata (6.6 kB)
Collecting python-dateutil>=2.8.2 (from pandas)
  Obtaining dependency information for python-dateutil>=2.8.2 from https://files.pythonhosted.org/packages/ec/57/56b9bcc3c9c6a792fcbaf139543cee77261f3651ca9da0c93f5c1221264b/python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/81/c4/34e93fe5f5429d7570ec1fa436f1986fb1f00c3e0f43a589fe2bbcd22c3f/pytz-2025.2-py2.py3-none-any.whl.metadata
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/c7/b0/003792df09decd6849a5e39c28b513c06e84436a54440380862b5aeff25d/tzdata-2025.3-py2.py3-none-any.whl.metadata
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting six>=1.5 (from python-dateutil>=2.8.2->pandas)
  Obtaining dependency information for six>=1.5 from https://files.pythonhosted.org/packages/b7/ce/149a00dd41f10bc29e5921b496af8b574d8413afcd5e30dfa0ed46c2cc5e/six-1.17.0-py2.py3-none-any.whl.metadata
  Using cached six-1.17.0-py2.py3-none-any.whl.metadata (1.7 kB)
Using cached pandas-2.3.3-cp311-cp311-win_amd64.whl (11.3 MB)
Using cached pyarrow-22.0.0-cp311-cp311-win_amd64.whl (28.1 MB)
Using cached numexpr-2.14.1-cp311-cp311-win_amd64.whl (160 kB)
Using cached numpy-2.4.0-cp311-cp311-win_amd64.whl (12.6 MB)
Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Using cached six-1.17.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: pytz, tzdata, six, pyarrow, numpy, python-dateutil, numexpr, pandas
  Attempting uninstall: pytz
    Found existing installation: pytz 2025.2
    Uninstalling pytz-2025.2:
      Successfully uninstalled pytz-2025.2
  Attempting uninstall: tzdata
    Found existing installation: tzdata 2025.3
    Uninstalling tzdata-2025.3:
      Successfully uninstalled tzdata-2025.3
  Attempting uninstall: six
    Found existing installation: six 1.17.0
    Uninstalling six-1.17.0:
      Successfully uninstalled six-1.17.0
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 22.0.0
    Uninstalling pyarrow-22.0.0:
      Successfully uninstalled pyarrow-22.0.0
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.9.0.post0
    Uninstalling python-dateutil-2.9.0.post0:
      Successfully uninstalled python-dateutil-2.9.0.post0
  Attempting uninstall: numexpr
    Found existing installation: numexpr 2.8.4
    Uninstalling numexpr-2.8.4:
      Successfully uninstalled numexpr-2.8.4

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\ASUS\\anaconda3\\Lib\\site-packages\\~umexpr\\interpreter.cp311-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [2]:
!python -c "import pandas as pd; print(pd.__version__)"

2.3.3

In [3]:
!pip install xlrd>=2.0.1

^C

In [17]:
!python -c "import xlrd; print(xlrd.__version__)"

2.0.2

In [5]:
import pandas as pd

# Load district master
districts = pd.read_csv("D:/imp data sets/india_2011_district.csv")

districts

     censuscode  dt_cen_cd  st_cdn_cd                     st_nm       district
0           324         25        NaN                     Assam          Baksa
1           425          8        NaN            Madhya Pradesh     Chhatarpur
2           455         38        NaN            Madhya Pradesh     Chhindwara
3           570         16        NaN                 Karnataka    Chikmagalur
4           171         40        NaN             Uttar Pradesh     Chitrakoot
..          ...        ...        ...                       ...            ...
636         240         38        NaN                     Bihar          Arwal
637         239         37        NaN                     Bihar      Jehanabad
638         635          2        NaN                Puducherry     Puducherry
639         638          1        NaN  Andaman & Nicobar Island        Nicobar
640         640          3        NaN  Andaman & Nicobar Island  South Andaman

[641 rows x 5 columns]

In [22]:
#Standardize
districts['st_nm'] = districts['st_nm'].str.lower().str.strip()
districts['district'] = districts['district'].str.lower().str.strip()

# Add time dimension
years = range(2015, 2026)
months = range(1, 13)

base = (
    districts[['st_nm', 'district']]
    .assign(key=1)
    .merge(
        pd.DataFrame([(y, m) for y in years for m in months],
                     columns=['year', 'month']).assign(key=1),
        on='key'
    )
    .drop('key', axis=1)
)

print("Base rows:", len(base))
base.head()

Base rows: 84612

   st_nm district  year  month
0  assam    baksa  2015      1
1  assam    baksa  2015      2
2  assam    baksa  2015      3
3  assam    baksa  2015      4
4  assam    baksa  2015      5

In [7]:
solar_state = pd.read_excel("D:/imp data sets/statewise-grid-interactive-renewable-energy_1.xls")

solar_state.head()

,States / UTs,Small Hydro Power (MW),Wind Power (MW),Bio-Power-BM Power/Cogen.(MW),Bio-Power-Waste to Energy (MW),Solar Power (MWp),Total Capacity (MW)
0,Andhra Pradesh,219.030,447.65,380.75,43.16,23.350,1113.94
1,Arunachal Pradesh,103.905,NaN,NaN,NaN,0.025,103.93
2,Assam,31.110,NaN,NaN,NaN,NaN,31.11
3,Bihar,70.700,NaN,43.30,NaN,NaN,114.00
4,Chhatisgarh,52.000,NaN,249.90,NaN,4.000,305.90

In [8]:
solar_state.shape

(37, 7)

In [31]:
print(base.columns.tolist())
print(solar_state.columns.tolist())

['st_nm', 'district', 'year', 'month']
['States / UTs', 'Small Hydro Power (MW)', 'Wind Power (MW)', 'Bio-Power-BM Power/Cogen.(MW)', 'Bio-Power-Waste to Energy (MW)', 'Solar Power (MWp)', 'Total Capacity (MW)']

In [34]:
# Example: adapt to what you see in print(base.columns)
base = base.rename(columns={
    'st_nm': 'state',
    'district': 'district'
})

solar_state = solar_state.rename(columns={
    'States / UTs': 'state',
    'installed capacity (mw)': 'solar_mw'
})

In [36]:
print(solar_state.columns.tolist())

['state', 'Small Hydro Power (MW)', 'Wind Power (MW)', 'Bio-Power-BM Power/Cogen.(MW)', 'Bio-Power-Waste to Energy (MW)', 'Solar Power (MWp)', 'Total Capacity (MW)', 'n_districts_x', 'n_districts_y']

In [37]:
solar_state.columns = solar_state.columns.str.strip()

In [38]:
solar_state = solar_state.rename(columns={
    'Solar Power (MWp)': 'solar_mw',
    'Wind Power (MW)': 'wind_mw',
    'Bio-Power-BM Power/Cogen.(MW)': 'bioenergy_bm_mw',
    'Bio-Power-Waste to Energy (MW)': 'bioenergy_wte_mw'
})

In [39]:
solar_state['bioenergy_mw'] = (
    solar_state['bioenergy_bm_mw'].fillna(0) +
    solar_state['bioenergy_wte_mw'].fillna(0)
)

In [40]:
# Keep only one n_districts column
solar_state['n_districts'] = solar_state['n_districts_x']

solar_state = solar_state.drop(
    columns=['n_districts_x', 'n_districts_y'],
    errors='ignore'
)

In [41]:
solar_state['solar_mw_district'] = solar_state['solar_mw'] / solar_state['n_districts']
solar_state['wind_mw_district']  = solar_state['wind_mw'] / solar_state['n_districts']
solar_state['bioenergy_mw_district'] = solar_state['bioenergy_mw'] / solar_state['n_districts']

In [42]:
base = base.merge(
    solar_state[[
        'state',
        'solar_mw_district',
        'wind_mw_district',
        'bioenergy_mw_district'
    ]],
    on='state',
    how='left'
)

In [43]:
base = base.merge(
    solar_state[[
        'state',
        'solar_mw_district',
        'wind_mw_district',
        'bioenergy_mw_district'
    ]],
    on='state',
    how='left'
)

In [11]:
agri = pd.read_csv("D:/imp data sets/RS_Session_266_AU_1739_C_2.csv")

agri.head()

,Sl. No.,State/UT,Component-A - Sanctioned (MW),Component-A - Installed (MW),Component-B - Sanctioned (in Numbers),Component-B - Installed (in Numbers),Component-C - Sanctioned (IPS) (in Numbers),Component-C - Sanctioned (FLS) (in Numbers),Component-C - Installed (Total) (in Numbers)
0,1,Arunachal Pradesh,0,0.0,700,394,0,0,0
1,2,Assam,10,0.0,4000,0,1000,0,0
2,3,Chattisgarh,30,4.0,10000,0,0,0,0
3,4,Bihar,0,0.0,0,0,0,136812,0
4,5,Gujarat,500,0.0,12382,7705,0,725000,30158

In [12]:
agri.shape

(31, 9)

In [10]:
print(agri.columns.tolist())

['Sl. No.', 'State/UT', 'Component-A - Sanctioned (MW)', 'Component-A - Installed (MW)', 'Component-B - Sanctioned (in Numbers)', 'Component-B - Installed (in Numbers)', 'Component-C - Sanctioned (IPS) (in Numbers)', 'Component-C - Sanctioned (FLS) (in Numbers)', 'Component-C - Installed (Total) (in Numbers)']

In [49]:
agri.columns = agri.columns.str.lower().str.strip()

In [50]:
print(agri.columns.tolist())

['sl. no.', 'state/ut', 'component-a - sanctioned (mw)', 'component-a - installed (mw)', 'component-b - sanctioned (in numbers)', 'component-b - installed (in numbers)', 'component-c - sanctioned (ips) (in numbers)', 'component-c - sanctioned (fls) (in numbers)', 'component-c - installed (total) (in numbers)']

In [51]:
agri = agri.rename(columns={
    'state/ut': 'state',
    'component-a - installed (mw)': 'solar_agri_mw',
    'component-b - installed (in numbers)': 'solar_pumps_installed',
    'component-c - installed (total) (in numbers)': 'solarized_grid_pumps'
})

In [52]:
agri['state'] = agri['state'].str.lower().str.strip()

In [53]:
district_counts = base.groupby('state')['district'].nunique().reset_index(name='n_districts')

agri = agri.merge(district_counts, on='state', how='left')

agri['solar_pumps_district'] = agri['solar_pumps_installed'] / agri['n_districts']

base = base.merge(
    agri[['state', 'solar_pumps_district']],
    on='state',
    how='left'
)

In [54]:
base = base.rename(columns={'solar_pumps_district': 'solar_pumps_installed'})

In [55]:
GRID_EF = 0.82  # kg CO2 per kWh

base['solar_gen_mwh'] = base['solar_mw_district'] * 0.18 * 24 * 30
base['estimated_co2_reduction_tonnes'] = base['solar_gen_mwh'] * GRID_EF

KeyError: 'solar_mw_district'

In [56]:
print([c for c in base.columns if 'solar' in c.lower()])

['solar_mw_district_x', 'solar_mw_district_y', 'solar_pumps_installed']

In [57]:
# keep one solar column
base['solar_mw_district'] = base['solar_mw_district_x']

# drop duplicates
base = base.drop(
    columns=['solar_mw_district_x', 'solar_mw_district_y'],
    errors='ignore'
)

In [58]:
print([c for c in base.columns if 'solar' in c.lower()])

['solar_pumps_installed', 'solar_mw_district']

In [59]:
# constants
SOLAR_CF = 0.18        # capacity factor
HOURS_PER_MONTH = 24 * 30

base['solar_gen_mwh'] = (
    base['solar_mw_district'] * SOLAR_CF * HOURS_PER_MONTH
)

In [60]:
GRID_EF = 0.82  # kg CO2 per kWh

base['estimated_co2_reduction_tonnes'] = (
    base['solar_gen_mwh'] * GRID_EF
)

In [61]:
base[['state', 'district', 'solar_mw_district', 'solar_gen_mwh',
      'estimated_co2_reduction_tonnes']].head()

,state,district,solar_mw_district,solar_gen_mwh,estimated_co2_reduction_tonnes
0,assam,baksa,NaN,NaN,NaN
1,assam,baksa,NaN,NaN,NaN
2,assam,baksa,NaN,NaN,NaN
3,assam,baksa,NaN,NaN,NaN
4,assam,baksa,NaN,NaN,NaN

In [63]:
print(base.columns.tolist())

['state', 'district', 'year', 'month', 'wind_mw_district_x', 'bioenergy_mw_district_x', 'wind_mw_district_y', 'bioenergy_mw_district_y', 'solar_pumps_installed', 'solar_mw_district', 'solar_gen_mwh', 'estimated_co2_reduction_tonnes']