In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Load dataset
agri_data = pd.read_csv('india_agriculture_renewable_energy.csv')
agri_data.head()

,State,District,Year,Month,Renewable_Capacity_MW,Solar_MW,Wind_MW,Hydro_MW,Bioenergy_MW,Agriculture_Electricity_Use_GWh,Solar_Pumps_Installed,Estimated_CO2_Reduction_tonnes
0,Haryana,District_7,2019,1,194.260217,104.148423,31.932236,11.162449,6.686043,90.792440,3565.0,158.717098
1,Punjab,District_6,2016,6,422.496451,204.494617,106.971434,50.500124,27.861010,109.135426,875.0,207.623403
2,Tamil Nadu,District_6,2022,9,3606.331962,1985.991170,965.553175,406.722131,122.103263,NaN,2092.0,1664.689383
3,Madhya Pradesh,District_4,2025,11,2475.402768,1457.291785,619.424790,335.787174,183.039850,260.406140,3502.0,1183.971245
4,Assam,District_4,2018,7,99.539133,53.541410,22.341401,8.994821,6.363836,66.670592,2699.0,98.772610

In [6]:
# Column Overview
agri_data.columns

Index(['State', 'District', 'Year', 'Month', 'Renewable_Capacity_MW',
       'Solar_MW', 'Wind_MW', 'Hydro_MW', 'Bioenergy_MW',
       'Agriculture_Electricity_Use_GWh', 'Solar_Pumps_Installed',
       'Estimated_CO2_Reduction_tonnes'],
      dtype='object')

In [7]:
# State Unique values overview
agri_data['State'].unique()

array(['Haryana', 'Punjab', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Gujarat', 'Bihar', 'Odisha', 'Maharashtra', 'Telangana',
       'Andhra Pradesh', 'Chhattisgarh', 'Uttar Pradesh', 'Kerala',
       'Karnataka', 'Rajasthan', 'West Bengal'], dtype=object)

In [8]:
# District Unique value overview
agri_data['District'].unique()

array(['District_7', 'District_6', 'District_4', 'District_8',
       'District_1', 'District_2', 'District_5', 'District_3'],
      dtype=object)

In [9]:
 # Columns data tyoe overview
agri_data.dtypes

State                               object
District                            object
Year                                 int64
Month                                int64
Renewable_Capacity_MW              float64
Solar_MW                           float64
Wind_MW                            float64
Hydro_MW                           float64
Bioenergy_MW                       float64
Agriculture_Electricity_Use_GWh    float64
Solar_Pumps_Installed              float64
Estimated_CO2_Reduction_tonnes     float64
dtype: object

In [10]:
#  Quick dataset overview
agri_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47952 entries, 0 to 47951
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            47952 non-null  object
 1   District                         47952 non-null  object
 2   Year                             47952 non-null  int64
 3   Month                            47952 non-null  int64
 4   Renewable_Capacity_MW            45042 non-null  float64
 5   Solar_MW                         44007 non-null  float64
 6   Wind_MW                          44692 non-null  float64
 7   Hydro_MW                         47952 non-null  float64
 8   Bioenergy_MW                     47952 non-null  float64
 9   Agriculture_Electricity_Use_GWh  43250 non-null  float64
 10  Solar_Pumps_Installed            42331 non-null  float64
 11  Estimated_CO2_Reduction_tonnes   47952 non-null  float64
dtypes: float64(8), int64(2), object(2)
memory usage: 4.4+ MB

In [11]:
# Statistical overview of data distribution
agri_data.describe()

,Year,Month,Renewable_Capacity_MW,Solar_MW,Wind_MW,Hydro_MW,Bioenergy_MW,Agriculture_Electricity_Use_GWh,Solar_Pumps_Installed,Estimated_CO2_Reduction_tonnes
count,47952.000000,47952.000000,45042.000000,44007.000000,44692.000000,47952.000000,47952.000000,43250.000000,42331.000000,47952.000000
mean,2019.978416,6.491012,1637.591103,896.401154,369.886952,163.179841,89.949419,160.781100,3159.807115,798.331040
std,3.167492,3.454680,1488.414163,824.736425,348.801263,161.285320,88.156848,102.119403,1640.736443,669.828062
min,2015.000000,1.000000,49.024485,22.259564,7.645911,2.533761,1.574840,20.643175,300.000000,30.694297
25%,2017.000000,3.000000,429.442242,231.663081,91.607303,38.237684,21.293676,80.383846,1733.000000,253.035357
50%,2020.000000,6.000000,1137.963397,613.478180,252.255183,106.819134,58.884660,133.222304,3169.000000,570.674169
75%,2023.000000,9.000000,2618.843989,1420.875358,566.840772,244.375213,134.716453,218.452625,4569.000000,1235.317069
max,2025.000000,12.000000,6906.781898,4275.366352,1958.907367,1000.852659,520.473325,575.749392,5999.000000,3224.731854

In [12]:
# Null value overview
agri_data.isna().sum()

State                                 0
District                              0
Year                                  0
Month                                 0
Renewable_Capacity_MW              2910
Solar_MW                           3945
Wind_MW                            3260
Hydro_MW                              0
Bioenergy_MW                          0
Agriculture_Electricity_Use_GWh    4702
Solar_Pumps_Installed              5621
Estimated_CO2_Reduction_tonnes        0
dtype: int64

In [15]:
(agri_data.isna().mean()*100).round(2)

State                               0.00
District                            0.00
Year                                0.00
Month                               0.00
Renewable_Capacity_MW               6.07
Solar_MW                            8.23
Wind_MW                             6.80
Hydro_MW                            0.00
Bioenergy_MW                        0.00
Agriculture_Electricity_Use_GWh     9.81
Solar_Pumps_Installed              11.72
Estimated_CO2_Reduction_tonnes      0.00
dtype: float64