In [1]:
!conda deactivate

In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("agri_energy_merged.csv")
data.head()

,state,district,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
0,assam,baksa,2015,1,NaN,NaN,0.0,0.0,NaN
1,assam,baksa,2015,2,NaN,NaN,0.0,0.0,NaN
2,assam,baksa,2015,3,NaN,NaN,0.0,0.0,NaN
3,assam,baksa,2015,4,NaN,NaN,0.0,0.0,NaN
4,assam,baksa,2015,5,NaN,NaN,0.0,0.0,NaN

In [28]:
df.shape

(84612, 9)

In [29]:
df.isna().sum()

state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                 26400
wind_mw                           52536
bioenergy_mw                       6864
solar_pumps_installed             13332
estimated_co2_reduction_tonnes    26400
dtype: int64

In [30]:
df['year'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025])

In [31]:
df['month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

# Count of null vlalues for wind energy production
here we have filtered data set for wind energy production. state District and month wise

In [32]:
null_wind_mw_data = df[df['wind_mw'].isnull()]
null_wind_mw_count_by_location_month = null_wind_mw_data.groupby(['state', 'district', 'month']).size().reset_index(name='null_wind_mw_count')
display(null_wind_mw_count_by_location_month.head(12))

                       state district  month  null_wind_mw_count
0   andaman & nicobar island  nicobar      1                  11
1   andaman & nicobar island  nicobar      2                  11
2   andaman & nicobar island  nicobar      3                  11
3   andaman & nicobar island  nicobar      4                  11
4   andaman & nicobar island  nicobar      5                  11
5   andaman & nicobar island  nicobar      6                  11
6   andaman & nicobar island  nicobar      7                  11
7   andaman & nicobar island  nicobar      8                  11
8   andaman & nicobar island  nicobar      9                  11
9   andaman & nicobar island  nicobar     10                  11
10  andaman & nicobar island  nicobar     11                  11
11  andaman & nicobar island  nicobar     12                  11

In [33]:
null_wind_mw_data =df[df['solar_mw_district'].isnull()]
null_wind_mw_count_by_location_month = null_wind_mw_data.groupby(['state', 'district', 'month']).size().reset_index(name='null_wind_mw_count')
display(null_wind_mw_count_by_location_month.head(12))

                       state district  month  null_wind_mw_count
0   andaman & nicobar island  nicobar      1                  11
1   andaman & nicobar island  nicobar      2                  11
2   andaman & nicobar island  nicobar      3                  11
3   andaman & nicobar island  nicobar      4                  11
4   andaman & nicobar island  nicobar      5                  11
5   andaman & nicobar island  nicobar      6                  11
6   andaman & nicobar island  nicobar      7                  11
7   andaman & nicobar island  nicobar      8                  11
8   andaman & nicobar island  nicobar      9                  11
9   andaman & nicobar island  nicobar     10                  11
10  andaman & nicobar island  nicobar     11                  11
11  andaman & nicobar island  nicobar     12                  11

In [34]:
df.dtypes

state                              object
district                           object
year                                int64
month                               int64
solar_mw_district                 float64
wind_mw                           float64
bioenergy_mw                      float64
solar_pumps_installed             float64
estimated_co2_reduction_tonnes    float64
dtype: object

In [35]:
df[df['district'].str.contains('nicobar', case=False, na=False)].shape

(132, 9)

In [36]:
df.isna().sum()

state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                 26400
wind_mw                           52536
bioenergy_mw                       6864
solar_pumps_installed             13332
estimated_co2_reduction_tonnes    26400
dtype: int64

In [37]:
df[df['district'].str.contains('nicobar', case=False, na=False)].isna().sum()

state                               0
district                            0
year                                0
month                               0
solar_mw_district                 132
wind_mw                           132
bioenergy_mw                      132
solar_pumps_installed             132
estimated_co2_reduction_tonnes    132
dtype: int64

In [38]:
df['district'].unique()

array(['baksa', 'chhatarpur', 'chhindwara', 'chikmagalur', 'chitrakoot',
       'chittaurgarh', 'chittoor', 'dakshin bastar dantewada',
       'dakshin dinajpur', 'dakshina kannada', 'damoh', 'darbhanga',
       'darjiling', 'data not available', 'davanagere', 'dhar',
       'east godavari', 'east nimar', 'erode', 'etah', 'firozpur',
       'gadag', 'ganganagar', 'ganjam', 'garhchiroli', 'gaya', 'ghazipur',
       'giridih', 'golaghat', 'gonda', 'gondiya', 'gorakhpur', 'gulbarga',
       'gumla', 'guna', 'guntur', 'gurdaspur', 'lahul & spiti', 'latehar',
       'latur', 'leh (ladakh)', 'lucknow', 'lunglei', 'mahasamund',
       'mahbubnagar', 'mahesana', 'mahoba', 'maldah', 'mandla',
       'mandsaur', 'mandya', 'palamu', 'pali', 'panch mahals', 'patiala',
       'patna', 'pilibhit', 'pithoragarh', 'porbandar', 'prakasam',
       'pudukkottai', 'pune', 'puri', 'shimla', 'shimoga', 'shivpuri',
       'siddharth nagar', 'sindhudurg', 'singrauli', 'sitamarhi',
       'sitapur', 'sivaganga', 'srinagar', 'sultanpur', 'sundargarh',
       'surat', 'surendranagar', 'tehri garhwal', 'thane', 'thanjavur',
       'thiruvallur', 'thiruvarur', 'thoothukkudi', 'thrissur',
       'tikamgarh', 'tiruchirappalli', 'tirunelveli', 'tiruppur',
       'tiruvannamalai', 'tonk', 'tumkur', 'udaipur', 'udham singh nagar',
       'udupi', 'ujjain', 'umaria', 'unnao', 'uttar dinajpur',
       'uttara kannada', 'uttarkashi', 'vadodara', 'valsad', 'varanasi',
       'vellore', 'vidisha', 'viluppuram', 'virudunagar', 'visakhapatnam',
       'vizianagaram', 'warangal', 'wardha', 'washim', 'west nimar',
       'yavatmal', 'dausa', 'karauli', 'sawai madhopur', 'nagappattinam',
       'anand', 'anantapur', 'yanam', 'tapi', 'anugul', 'anuppur',
       'araria', 'badgam', 'balangir', 'baleshwar', 'banda', 'bastar',
       'bijapur', 'churu', 'coimbatore', 'cuddalore', 'y.s.r.', 'cuttack',
       'hyderabad', 'katni', 'koch bihar', 'gajapati', 'panna',
       'kishanganj', 'kamrup', 'karur', 'kolhapur', 'koriya', 'kota',
       'shahdol', 'murshidabad', 'muzaffarnagar', 'muzaffarpur', 'mysore',
       'nabarangapur', 'nadia', 'nagaon', 'nagaur', 'nagpur', 'nainital',
       'nalanda', 'sri potti sriramulu nellore', 'parbhani',
       'pashchim champaran', 'pashchim medinipur', 'pashchimi singhbhum',
       'patan', 'raisen', 'sidhi', 'sikar', 'surguja', 'tamenglong',
       'tarn taran', 'north & middle andaman', 'lakshadweep',
       'west garo hills', 'adilabad', 'agra', 'ahmadabad', 'ahmadnagar',
       'aizawl', 'ajmer', 'akola', 'aligarh', 'alirajpur', 'allahabad',
       'alwar', 'amritsar', 'aurangabad', 'azamgarh', 'bagalkot',
       'baghpat', 'bahraich', 'balaghat', 'balrampur', 'banas kantha',
       'bandipore', 'bankura', 'bara banki', 'bargarh', 'baran',
       'barddhaman', 'bareilly', 'barmer', 'barpeta', 'barwani', 'betul',
       'bhilwara', 'bhind', 'bid', 'bidar', 'bikaner', 'bilaspur',
       'birbhum', 'bokaro', 'budaun', 'buldana', 'cachar', 'central',
       'chamba', 'chamoli', 'champhai', 'chamrajnagar', 'chandrapur',
       'changlang', 'chatra', 'chennai', 'jamnagar', 'daman', 'dehradun',
       'dewas', 'dhubri', 'dhule', 'dindigul', 'dindori', 'diu', 'doda',
       'dumka', 'durg', 'east', 'jashpur', 'jaunpur', 'jhalawar',
       'jhansi', 'jodhpur', 'jorhat', 'junagadh', 'kachchh',
       'kaimur (bhabua)', 'kalahandi', 'kancheepuram', 'kandhamal',
       'kannur', 'karimnagar', 'kasaragod', 'fatehabad', 'nanded',
       'nandurbar', 'narsimhapur', 'gurgaon', 'gwalior', 'hamirpur',
       'hanumangarh', 'haora', 'harda', 'hardoi', 'hassan', 'haveri',
       'hazaribagh', 'hingoli', 'hoshangabad', 'hugli', 'idukki',
       'indore', 'jabalpur', 'jaintia hills', 'jaipur', 'jaisalmer',
       'jajapur', 'kathua', 'katihar', 'kendrapara', 'kendujhar',
       'khammam', 'kheda', 'kheri', 'khordha', 'kinnaur', 'kodagu',
       'kodarma', 'kokrajhar', 'kolasib', 'kolkata', 'koppal', 'koraput',
       'korba', 'krishna', 'krishnagiri', 'kurnool', 'kushinagar',
       'nashik', 'neemuch', 'dima hasao', 'north east', 'longleng',
       'marigaon', 'mayurbhanj', 'medak', 'mirzapur', 'moradabad',
       'morena', 'north west', 'osmanabad', 'pakur', 'palakkad',
       'pulwama', 'punch', 'purba champaran', 'purba medinipur',
       'purbi singhbhum', 'purnia', 'puruliya', 'rae bareli', 'raigarh',
       'raipur', 'rajouri', 'rajgarh', 'rajkot', 'rajnandgaon',
       'rajsamand', 'ramanathapuram', 'rangareddy', 'ratlam', 'ratnagiri',
       'rayagada', 'rewa', 'solapur', 'sonbhadra', 'rohtak',
       'sabar kantha', 'sagar', 'saharanpur', 'saharsa', 'salem',
       'samastipur', 'samba', 'sambalpur', 'sangli', 'sangrur',
       'sant ravi das nagar(bhadohi)', 'satara', 'satna', 'sehore',
       'senapati', 'seoni', 'sheopur', 'sonipat', 'south 24 parganas',
       'south goa', 'south west', 'srikakulam', 'udhampur', 'una', 'west',
       'anantnag', 'zunheboto', 'karaikal', 'alappuzha', 'almora',
       'ambala', 'ambedkar nagar', 'amravati', 'amreli', 'anjaw',
       'ariyalur', 'ashoknagar', 'auraiya', 'bishnupur', 'bageshwar',
       'ballia', 'bangalore rural', 'bangalore', 'banka', 'banswara',
       'baramula', 'barnala', 'basti', 'bathinda', 'bauda', 'begusarai',
       'belgaum', 'bellary', 'bhadrak', 'bhagalpur', 'bhandara',
       'bharatpur', 'bharuch', 'bhavnagar', 'bhiwani', 'bhojpur',
       'bhopal', 'bijnor', 'bongaigaon', 'bulandshahr', 'bundi',
       'burhanpur', 'buxar', 'champawat', 'chandauli', 'chandel',
       'chandigarh', 'chikkaballapura', 'chirang', 'chitradurga',
       'churachandpur', 'dadra & nagar haveli', 'dhanbad', 'darrang',
       'datia', 'debagarh', 'deoghar', 'deoria', 'dhalai', 'faridabad',
       'dhamtari', 'dharmapuri', 'ganderbal', 'dharwad', 'dhaulpur',
       'dhemaji', 'dhenkanal', 'dibang valley', 'dibrugarh', 'dohad',
       'dungarpur', 'dimapur', 'east garo hills', 'east kameng',
       'east khasi hills', 'east siang', 'south garo hills', 'ernakulam',
       'etawah', 'faizabad', 'faridkot', 'kishtwar', 'farrukhabad',
       'fatehgarh sahib', 'fatehpur', 'firozabad', 'gandhinagar',
       'garhwa', 'garhwal', 'gautam buddha nagar', 'ghaziabad',
       'goalpara', 'godda', 'gopalganj', 'mumbai suburban', 'hailakandi',
       'hardwar', 'mahamaya nagar', 'hisar', 'panipat', 'hoshiarpur',
       'imphal east', 'ramban', 'imphal west', 'kiphire',
       'jagatsinghapur', 'reasi', 'jalandhar', 'jalaun', 'jalgaon',
       'jalna', 'jalor', 'jalpaiguri', 'jammu', 'jamtara', 'jamui',
       'janjgir-champa', 'jhabua', 'jhajjar', 'jharsuguda', 'jhunjhunun',
       'jyotiba phule nagar', 'kaithal', 'kamrup metropolitan', 'kangra',
       'uttar bastar kanker', 'kannauj', 'kanniyakumari', 'kanpur dehat',
       'kanpur nagar', 'kansiram nagar', 'kapurthala', 'karbi anglong',
       'kargil', 'karimganj', 'karnal', 'kaushambi', 'khagaria', 'khunti',
       'kohima', 'kolar', 'kollam', 'kottayam', 'kozhikode', 'kulgam',
       'kullu', 'kupwara', 'kurukshetra', 'kurung kumey', 'lakhimpur',
       'lakhisarai', 'lalitpur', 'lawangtlai', 'lohardaga', 'serchhip',
       'lohit', 'lower dibang valley', 'lower subansiri', 'ludhiana',
       'madhepura', 'madhubani', 'madurai', 'maharajganj', 'mahe',
       'mahendragarh', 'mainpuri', 'malappuram', 'malkangiri', 'mamit',
       'mandi', 'sheohar', 'mansa', 'mathura', 'mau', 'meerut', 'mewat',
       'moga', 'south', 'mokokchung', 'mon', 'muktsar', 'mumbai',
       'munger', 'nalbari', 'nalgonda', 'namakkal', 'narayanpur',
       'narmada', 'navsari', 'nawada', 'nayagarh', 'new delhi',
       'nizamabad', 'north', 'north 24 parganas', 'north goa',
       'north tripura', 'nuapada', 'palwal', 'panchkula', 'papum pare',
       'pathanamthitta', 'perambalur', 'peren', 'phek', 'pratapgarh',
       'raichur', 'ramanagara', 'ramgarh', 'rampur', 'ranchi', 'rewari',
       'ri bhoi', 'rohtas', 'rudraprayag', 'rupnagar', 'sahibganj',
       'sahibzada ajit singh nagar', 'saiha', 'sant kabir nagar',
       'saraikela-kharsawan', 'saran (chhapra)',
       'shahid bhagat singh nagar', 'shahjahanpur', 'shajapur',
       'sheikhpura', 'shrawasti', 'shupiyan', 'sivasagar', 'simdega',
       'sirmaur', 'sirohi', 'sirsa', 'siwan', 'solan', 'subarnapur',
       'sonitpur', 'south tripura', 'supaul', 'tawang', 'the dangs',
       'the nilgiris', 'theni', 'thiruvananthapuram', 'thoubal',
       'tinsukia', 'tirap', 'tuensang', 'udalguri', 'ukhrul',
       'upper siang', 'upper subansiri', 'vaishali', 'wayanad',
       'west godavari', 'west kameng', 'west khasi hills', 'west siang',
       'west tripura', 'wokha', 'yadgir', 'kabeerdham', 'yamunanagar',
       'jind', 'arwal', 'jehanabad', 'puducherry', 'nicobar',
       'south andaman'], dtype=object)

In [39]:
nicobar_mask = df['district'].str.lower().eq('nicobar')

print("Nicobar rows:", nicobar_mask.sum())  # should print 132

Nicobar rows: 132

# wind energy imputation for Nicobar
#### Reality applied

- No commercial wind

- Small pilot after 2021

- Only May–September

In [41]:
def fill_wind(row):
    if row['month'] in [5,6,7,8,9]:          # monsoon
        if row['year'] >= 2024:
            return 0.2                      # upper pilot
        elif row['year'] >= 2021:
            return 0.1                      # early pilot
    return 0.0

idx = nicobar_mask & df['wind_mw'].isna()
df.loc[idx, 'wind_mw'] = df.loc[idx].apply(fill_wind, axis=1)

# solar capacity decentralized and centure Nicobar
> ##### Anual Baseline
| Year      | MW  |
|:-----------|-----|
| 2015–17   | 0.2 |
| 2018–20   | 0.5 |
| 2021–23   | 1.2 |
| 2024–25   | 1.5 |

In [42]:
def solar_base(year):
    if year <= 2017: return 0.2
    if year <= 2020: return 0.5
    if year <= 2023: return 1.2
    return 1.5

solar_factor = {
    2:1.2, 3:1.2, 4:1.2,   # Feb–Apr peak
    5:1.05,
    6:0.65, 7:0.65, 8:0.65, # monsoon dip
    9:0.85
}

def fill_solar(row):
    return round(
        solar_base(row['year']) *
        solar_factor.get(row['month'], 1.0),
        3
    )

idx = nicobar_mask & df['solar_mw_district'].isna()
df.loc[idx, 'solar_mw_district'] = df.loc[idx].apply(fill_solar, axis=1)

## Bioenergy (very limited pilots) Nicobar

In [43]:
idx = nicobar_mask & df['bioenergy_mw'].isna()
df.loc[idx, 'bioenergy_mw'] = 0.02

# Solar Pumps (Agriculture – PM-KUSUM) Nicobar

Driven by PM-KUSUM, uptake after 2021.

In [44]:
pump_map = {
    2021: 5,
    2022: 10,
    2023: 15,
    2024: 20,
    2025: 25
}

def fill_pumps(row):
    if row['year'] < 2021:
        return 0.0
    return pump_map[row['year']] / 12

idx = nicobar_mask & df['solar_pumps_installed'].isna()
df.loc[idx, 'solar_pumps_installed'] = df.loc[idx].apply(fill_pumps, axis=1)

# CO₂ Reduction (Derived, not fabricated) Nicobar

> Assumptions:

- 1 MW ≈ 140 MWh/year

- Solar: 0.82 tCO₂/MWh

- Wind: 0.90 tCO₂/MWh

- Bio: 0.75 tCO₂/MWh

In [45]:
def fill_co2(row):
    solar = row['solar_mw_district'] * 140 / 12 * 0.82
    wind  = row['wind_mw'] * 140 / 12 * 0.90
    bio   = row['bioenergy_mw'] * 140 / 12 * 0.75
    return round(solar + wind + bio, 2)

idx = nicobar_mask & df['estimated_co2_reduction_tonnes'].isna()
df.loc[idx, 'estimated_co2_reduction_tonnes'] = df.loc[idx].apply(fill_co2, axis=1)

# Final cheaak of null for Nicobar

In [46]:
df[df['district'].str.lower().eq('nicobar')].isna().sum()

state                             0
district                          0
year                              0
month                             0
solar_mw_district                 0
wind_mw                           0
bioenergy_mw                      0
solar_pumps_installed             0
estimated_co2_reduction_tonnes    0
dtype: int64

In [47]:
df.isna().sum()

state                                 0
district                              0
year                                  0
month                                 0
solar_mw_district                 26268
wind_mw                           52404
bioenergy_mw                       6732
solar_pumps_installed             13200
estimated_co2_reduction_tonnes    26268
dtype: int64

> # finally we have filled the nicobar value using realistic context

### lets go for another state and district before we will find null data for all districts

In [53]:
cols_to_check = [
    'solar_mw_district',
    'wind_mw',
    'bioenergy_mw',
    'solar_pumps_installed',
    'estimated_co2_reduction_tonnes'
]

state_district_any_null = (
    df[df[cols_to_check].isna().any(axis=1)]
    [['state', 'district']]
    .drop_duplicates()
    .sort_values(['state', 'district'])
)

state_district_any_null

                          state                district
22572  andaman & nicobar island  north & middle andaman
84480  andaman & nicobar island           south andaman
22968            andhra pradesh                adilabad
15708            andhra pradesh               anantapur
792              andhra pradesh                chittoor
...                         ...                     ...
21384               west bengal      pashchim medinipur
42108               west bengal         purba medinipur
42504               west bengal                puruliya
47388               west bengal       south 24 parganas
12804               west bengal          uttar dinajpur

[420 rows x 2 columns]

In [54]:
df.loc[df['wind_mw'].isna(), ['state', 'district']] \
  .drop_duplicates() \
  .sort_values(['state', 'district'])

                          state                district
22572  andaman & nicobar island  north & middle andaman
84480  andaman & nicobar island           south andaman
49500        arunanchal pradesh                   anjaw
29436        arunanchal pradesh               changlang
57420        arunanchal pradesh           dibang valley
...                         ...                     ...
21384               west bengal      pashchim medinipur
42108               west bengal         purba medinipur
42504               west bengal                puruliya
47388               west bengal       south 24 parganas
12804               west bengal          uttar dinajpur

[397 rows x 2 columns]

In [55]:
null_map = {}

for col in cols_to_check:
    null_map[col] = (
        df.loc[df[col].isna(), ['state', 'district']]
        .drop_duplicates()
        .sort_values(['state', 'district'])
    )

# Example usage
null_map['solar_mw_district']

                          state                district
22572  andaman & nicobar island  north & middle andaman
84480  andaman & nicobar island           south andaman
49500        arunanchal pradesh                   anjaw
29436        arunanchal pradesh               changlang
57420        arunanchal pradesh           dibang valley
...                         ...                     ...
80652                    sikkim                    west
56232                   tripura                  dhalai
74580                   tripura           north tripura
80256                   tripura           south tripura
83160                   tripura            west tripura

[199 rows x 2 columns]

In [56]:
df[df['solar_mw_district'].isna()] \
  .groupby(['state', 'district']) \
  .size() \
  .reset_index(name='null_count') \
  .sort_values('null_count', ascending=False)

                        state                district  null_count
0    andaman & nicobar island  north & middle andaman         132
1    andaman & nicobar island           south andaman         132
2          arunanchal pradesh                   anjaw         132
3          arunanchal pradesh               changlang         132
4          arunanchal pradesh           dibang valley         132
..                        ...                     ...         ...
194                    sikkim                    west         132
195                   tripura                  dhalai         132
196                   tripura           north tripura         132
197                   tripura           south tripura         132
198                   tripura            west tripura         132

[199 rows x 3 columns]

In [57]:
state_null_matrix = (
    df.groupby('state')[cols_to_check]
      .apply(lambda x: x.isna().sum())
      .reset_index()
)

state_null_matrix

,state,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
0,andaman & nicobar island,264,264,264,264,264
1,andhra pradesh,0,0,0,3036,0
2,arunanchal pradesh,2112,2112,2112,2112,2112
3,assam,3564,3564,0,0,3564
4,bihar,5016,5016,0,0,5016
5,chandigarh,132,132,0,132,132
6,chhattisgarh,2376,2376,2376,2376,2376
7,dadara & nagar havelli,132,132,132,132,132
8,daman & diu,264,264,0,264,264
9,goa,264,264,0,0,264
10,gujarat,0,0,0,0,0
11,haryana,0,2772,0,0,0
12,himachal pradesh,1584,1584,0,0,1584
13,jammu & kashmir,3036,3036,0,3036,3036
14,jharkhand,0,3168,0,0,0
15,karnataka,0,0,0,0,0
16,kerala,0,0,0,0,0
17,lakshadweep,132,132,132,132,132
18,madhya pradesh,0,0,0,0,0
19,maharashtra,0,0,0,0,0
20,manipur,1188,1188,0,0,1188
21,meghalaya,924,924,0,0,924
22,mizoram,1056,1056,0,0,1056
23,nagaland,1452,1452,0,0,1452
24,nct of delhi,1188,1188,1188,1188,1188
25,odisha,0,3960,0,0,0
26,puducherry,528,528,528,0,528
27,punjab,0,2640,0,0,0
28,rajasthan,0,0,0,0,0
29,sikkim,528,528,0,528,528
30,tamil nadu,0,0,0,0,0
31,tripura,528,528,0,0,528
32,uttar pradesh,0,9372,0,0,0
33,uttarakhand,0,1716,0,0,0
34,west bengal,0,2508,0,0,0

In [58]:
district_null_matrix = (
    df.groupby(['state', 'district'])[cols_to_check]
      .apply(lambda x: x.isna().sum())
      .reset_index()
)

district_null_matrix

,state,district,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
0,andaman & nicobar island,nicobar,0,0,0,0,0
1,andaman & nicobar island,north & middle andaman,132,132,132,132,132
2,andaman & nicobar island,south andaman,132,132,132,132,132
3,andhra pradesh,adilabad,0,0,0,132,0
4,andhra pradesh,anantapur,0,0,0,132,0
...,...,...,...,...,...,...,...
636,west bengal,pashchim medinipur,0,132,0,0,0
637,west bengal,purba medinipur,0,132,0,0,0
638,west bengal,puruliya,0,132,0,0,0
639,west bengal,south 24 parganas,0,132,0,0,0
640,west bengal,uttar dinajpur,0,132,0,0,0

In [59]:
fully_missing = (
    df.groupby(['state', 'district'])[cols_to_check]
      .apply(lambda x: x.isna().all())
      .reset_index()
)

fully_missing

,state,district,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
0,andaman & nicobar island,nicobar,False,False,False,False,False
1,andaman & nicobar island,north & middle andaman,True,True,True,True,True
2,andaman & nicobar island,south andaman,True,True,True,True,True
3,andhra pradesh,adilabad,False,False,False,True,False
4,andhra pradesh,anantapur,False,False,False,True,False
...,...,...,...,...,...,...,...
636,west bengal,pashchim medinipur,False,True,False,False,False
637,west bengal,purba medinipur,False,True,False,False,False
638,west bengal,puruliya,False,True,False,False,False
639,west bengal,south 24 parganas,False,True,False,False,False
640,west bengal,uttar dinajpur,False,True,False,False,False

In [60]:
df[cols_to_check].isna().sum()

solar_mw_district                 26268
wind_mw                           52404
bioenergy_mw                       6732
solar_pumps_installed             13200
estimated_co2_reduction_tonnes    26268
dtype: int64

In [61]:
# Verify target rows
mask_nma = (
    df['state'].str.lower().str.contains('andaman', na=False) &
    df['district'].str.lower().str.contains('north', na=False)
)

print("North & Middle Andaman rows:", mask_nma.sum())

df.loc[mask_nma].head()

North & Middle Andaman rows: 132

,state,district,year,month,solar_mw_district,wind_mw,bioenergy_mw,solar_pumps_installed,estimated_co2_reduction_tonnes
22572,andaman & nicobar island,north & middle andaman,2015,1,NaN,NaN,NaN,NaN,NaN
22573,andaman & nicobar island,north & middle andaman,2015,2,NaN,NaN,NaN,NaN,NaN
22574,andaman & nicobar island,north & middle andaman,2015,3,NaN,NaN,NaN,NaN,NaN
22575,andaman & nicobar island,north & middle andaman,2015,4,NaN,NaN,NaN,NaN,NaN
22576,andaman & nicobar island,north & middle andaman,2015,5,NaN,NaN,NaN,NaN,NaN

In [62]:
# Monthly solar yield factors based on Andaman climate
solar_month_factor = {
    2: 1.15,  # Feb
    3: 1.20,  # Mar
    4: 1.20,  # Apr
    5: 1.00,  # May
    6: 0.65,  # Jun
    7: 0.65,  # Jul
    8: 0.65,  # Aug
    9: 0.70,  # Sep
    10: 0.90, # Oct
    11: 0.95, # Nov
    12: 1.00, # Dec
    1: 0.95   # Jan
}

In [63]:
def solar_base_nm_andaman(year):
    if year <= 2018:
        return 0.6        # minimal infra
    elif year <= 2020:
        return 1.2        # early expansion
    elif year <= 2022:
        return 4.0        # Diglipur floating solar
    elif year <= 2024:
        return 7.0        # distributed + grid
    else:
        return 9.0        # rooftop + PM Surya Ghar

In [64]:
def fill_solar_nm(row):
    base = solar_base_nm_andaman(row['year'])
    factor = solar_month_factor.get(row['month'], 1.0)
    return round(base * factor, 3)

In [65]:
idx = mask_nma & df['solar_mw_district'].isna()
df.loc[idx, 'solar_mw_district'] = df.loc[idx].apply(fill_solar_nm, axis=1)

In [66]:
def fill_wind_nm(row):
    if row['month'] in [6,7,8,9] and row['year'] >= 2022:
        return 0.05      # monitoring / hybrid pilots
    return 0.0

In [67]:
idx = mask_nma & df['wind_mw'].isna()
df.loc[idx, 'wind_mw'] = df.loc[idx].apply(fill_wind_nm, axis=1)

In [68]:
idx = mask_nma & df['bioenergy_mw'].isna()
df.loc[idx, 'bioenergy_mw'] = 0.03

In [69]:
pump_map_nm = {
    2019: 5,
    2020: 10,
    2021: 20,
    2022: 50,
    2023: 90,
    2024: 130,
    2025: 150
}

In [70]:
def fill_pumps_nm(row):
    if row['year'] < 2019:
        return 0.0
    return pump_map_nm[row['year']] / 12

In [71]:
idx = mask_nma & df['solar_pumps_installed'].isna()
df.loc[idx, 'solar_pumps_installed'] = df.loc[idx].apply(fill_pumps_nm, axis=1)

In [72]:
def fill_co2_nm(row):
    solar = row['solar_mw_district'] * 140 / 12 * 0.82
    wind  = row['wind_mw'] * 140 / 12 * 0.90
    bio   = row['bioenergy_mw'] * 140 / 12 * 0.75
    return round(solar + wind + bio, 2)

In [73]:
    idx = mask_nma & df['estimated_co2_reduction_tonnes'].isna()
df.loc[idx, 'estimated_co2_reduction_tonnes'] = df.loc[idx].apply(fill_co2_nm, axis=1)

In [74]:
df.loc[mask_nma].isna().sum()

state                             0
district                          0
year                              0
month                             0
solar_mw_district                 0
wind_mw                           0
bioenergy_mw                      0
solar_pumps_installed             0
estimated_co2_reduction_tonnes    0
dtype: int64

# Why this imputation is research-grade

- Policy-aligned (PM-KUSUM, Surya Ghar)
- Seasonal physics respected (monsoon, dry season)
- Grid & hydro context included (Kalpong)
- District-specific (not copied from Nicobar)
- Fully explainable in Methodology section